<h1>Novels</h1>

<div class="row">
   <% @novel_length_books.each do |book| %>
   <div class="col-md-3">
       <div class="well center-it">
           <h2><%= link_to book.book_title, book %></h2>
           <p><em><%= book.author %></em></p>
           <p><%= truncate(book.summary, :length => 100) %><%= link_to "Read More", book %></p>
               <a href="#" data-toggle="modal" data-target="#myModal_<%= book.id %>">
                   <span class="glyphicon glyphicon-book"> Details </span>
               </a>
           </p>
       </div>
   </div>

    <div id="myModal_<%= book.id %>" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title"><%= link_to book.book_title, book %></h4>
         </div>
         <div class="modal-body">
          <p>Author: <%= book.author %></p>
          <p>Genre: <%= book.genre %></p>
          <p>Reading Level: <%= book.reading_level %></p>
          <p><%= book.number_of_pages %> pages</p>
          <p><%= book.publisher %>, <%= book.copyrighted %></p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary"><%= link_to "See Full Page", book %></button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

   <% end %>
</div>
